* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: coral;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    height: 50vh;
    width: 59vh;
}

form {
    margin: 2rem 1rem 0;
}

form select,
form button,
form input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}


.dropDwon-container {
    /* background: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}

.dropDwon-container span{
    position: relative;
    top: 0.5em;
}
.dropdown {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    /* margin-top: 2rem; */
}
.to{
    /* padding: 2em; */
}

.dropdown .material-symbols-outlined {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2.5rem;
}

.select-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 6rem;
    max-height: 1.25em;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    padding: 1em;
}

.msg {
    margin: 2rem 0;
    text-align: left;
}

form button {
    height: 3rem;
    background-color: #af4d98;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
}

form button:hover {
    background-color: rgb(62, 16, 126);
}